[submodule "spdlog"]
	path = Cream/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "GLFW"]
	path = Cream/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Cream/vendor/imgui"]
	path = Cream/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "glm"]
	path = Cream/vendor/glm
	url = https://github.com/g-truc/glm.git
